# Prerequisites
*.d
*.csv
*.xlsx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# --- Visual Studio Temporary Files ---
.vs/
ipch/
*.aps
*.intermediate.obj
*.lastbuildstate
*.tlog
*.unsuccessfulbuild
*.vsidx
*.vstmp
*.VC.db
*.VC.opendb

# --- Build Output (Cái này quan trọng nhất) ---
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# --- User-specific files ---
*.suo
*.user
*.userosscache
*.sln.docstates

# --- Others ---
*.log
